body{
    background-color: rgb(0, 38, 255);
}


@keyframes movment{
    from{background-color: blue; left: 10px; top: 10px;px}
    to{background-color: rgba(141, 23, 135, 0.677); left: 1000px; top: 1000px;}

}

div{
    width: 100px;
    height: 100px;
    position: relative;
    background-color: aquamarine;
    animation-name: movment;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}